/* All */
h1 {
  text-align: center;
  color: #F35588;
}


/* App.js title */
.titleContainer {
  background-color: #9BD192;
  height: 85p x;
  padding: 10px;
}

#title {
  font-size: 50px;
  color: black;
}


/* App.js navBar */
.navBarContainer {
  background-color: #D4F0C2;
  font-size: 20px;
  height: 40px;
}

.navLinks {
  list-style: none;
  padding: 5px;
  color: black;
}

.navLinks:hover { 
  background-color: #4E7039;
}


/* Home.js recipe list */
.recipeListContainer {
  background-color: #FFDCD6;
  height: 150%;
  margin-top: -76px;
  margin-left: -90px;
}

#recipeListTitle {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.recipeName {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipeName:hover {
  background-color: #F35588;
  width: 100%;
}


/* Home.js displayed recipe */
.displayRecipeContainer {
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
}

#homeTitle {
  margin-top: 20px;
}

.singleRecipeDisplayed {
  margin-top: 30px;
  width: 750px;
  padding: 30px;
  border-radius: 10px;
  background-color: #FFBBB4;;
}

.ingredients {
  margin-top: 20px;
}


/* Form.js */
.formContainer {
  padding: 40px;
  background-color: #FFDCD6;
  margin-top: 50px;
  margin-left: 150px;
  width: 75%;
  border-radius: 25px;;
}

#formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  margin-right: 25px;
  display: inline-block;
  font-size: 30px;
}

.input {
  font-size: 25px;
  width: 550px;
}

.ingUL {
  float: left;
}

.formAddButton {
  margin-left: 20px;
  font-size: 20px;
  height: 40px;
  margin-top: 5px;
  position: absolute;
}

#formSubmitButton {
  margin-top: 30px;
  font-size: 20px;
}

.submitButtonContainer {
  text-align: center;
}

/* FormIng.js */
.ingContainer {
  background-color: #FFF8F7;
  border-radius: 25px;
  padding: 20px;
}

.ingItem {
  background-color: #F35588;
  float: left;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.instContainer {
  background-color: #FFF8F7;
  border-radius: 25px;
  padding: 20px;
}

.instItem {
  background-color: #F35588;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.xButton {
  font-size: 15px;
}