/* All */
.App {
  background-color: #FFF8F7;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  color: #F35588;
}

#loader {
  text-align: center;
  padding-top: 45vh;
  padding-bottom: 55vh;
}

/* App.js title */
.titleContainer {
  background-color: #9BD192;
  height: 85px;
  padding: 10px;
}

#title {
  font-size: 50px;
  color: black;
}


/* App.js navBar */
.navBarContainer {
  background-color: #D4F0C2;
  font-size: 20px;
  height: 40px;
}

.navLinks {
  list-style: none;
  padding: 5px;
  color: black;
}

.links {
  color:black;
}

.links:hover {
  color: white;
}

.navLinks:hover { 
  background-color: #4E7039;
}

/* Home.js */
.homePage {
  width: 100%;
  text-align: center;
}

.homeTitle {
  margin-top: 25px;
}

/* color panel animation attempt */
#homeDes {
  margin-top: 20px;
}

#homePic
{
  margin-top: 20px;
  height: 50vh;
  width: 80vh;
}

#galleryScroll {
  margin-top: 20px;
}

.homeTop {
  margin-bottom: 25px;
}

.box {
  height: 100vh;
  width: 1250px;
  border: 50px solid transparent;
}

.imageA {
  position: absolute;
}

.imageD {
  position: absolute;
  margin-left: -1250px;
}

.cont {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  height: 100vh;
  width: 1250px;
  border: 50px solid transparent;
}

/* RecipeMain.js recipe list */
.display {
  height: 150vh;
  padding-bottom: 50px;
}
.recipeListContainer {
  background-color: #FFDCD6;
  padding-top: 20px;
  height: 150vh;
  margin-top: -76px;
  margin-left: -90px;
}

#recipeListTitle {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.recipeName {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipeName:hover {
  background-color: #F35588;
  width: 100%;
}


/* RecipeMain.js displayed recipe */
.displayRecipeContainer {
  margin-left: 65px;
  float: left;
  padding-bottom: 50px;
}

#recipeTitle {
  margin-top: 20px;
}

.singleRecipeDisplayed {
  margin-top: 30px;
  width: 1000px;
  padding-right: 30px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #FFDCD6;
}

.recipeImage {
  width: 500px;
  height: 300px;
  margin-top: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.ingredients {
  margin-top: 20px;
}


/* Form.js */
.formContainer {
  margin-top: 50px;
  margin-left: 170px;
  width: 75%;
  height: 100vh;
  padding-bottom: 20px;
}
.formBackground {
  background-color: #FFDCD6;
  padding: 30px;
  border-radius: 25px;
}

#formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  margin-right: 25px;
  display: inline-block;
  font-size: 30px;
}

.input {
  font-size: 25px;
  width: 750px;
}

.ingUL {
  float: left;
}

.formAddButton {
  margin-left: 20px;
  font-size: 20px;
  height: 40px;
  margin-top: 5px;
  position: absolute;
}

#formSubmitButton {
  margin-top: 30px;
  font-size: 20px;
}

.submitButtonContainer {
  text-align: center;
}

/* Ingredient */
.ingItem {
  background-color: #F35588;
  float: left;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  margin-right: 20px;
  margin-top: 20px;
}

/* Instruction*/
.instItem {
  background-color: #F35588;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.xButton {
  font-size: 15px;
}

/*Search.js*/
.searchContainer {
  padding-bottom: 50px;
  height: 125vh;
}

#searchTitle {
  margin-top: 20px;
}

.searchForm {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}

.searchList {
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.searchRecipeContent {
  margin-left: 350px;
}