/* All */
h1 {
  text-align: center;
}

/* App.js title */
.titleContainer {
  background-color: pink;
  height: 85p x;
  padding: 10px;
}

#title {
  font-size: 50px;
}

/* App.js navBar */
.navBarContainer {
  background-color: aquamarine;
  font-size: 20px;
  height: 40px;
}

.navLinks {
  list-style: none;
  padding: 5px;
}

.navLinks:hover { 
  background-color: yellow;
}

/* Home.js recipe list */
.recipeListContainer {
  background-color: green;
  height: 200%;
  margin-top: -76px;
  margin-left: -72px;
}

#recipeListTitle {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.recipeName {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recipeName:hover {
  background-color: orange;
  width: 100%;
}

/* Home.js displayed recipe */
.displayRecipeContainer {
  margin-left: 100px;
  margin-top: 40px;
}

#homeTitle {
  margin-top: 20px;
}

.singleRecipeDisplayed {
  margin-top: 30px;
  /* width: 200%; */
  width: 750px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}

.ingredients {
  margin-top: 20px;
}